<div class="modal fade modal-difficulty-game" id="gameAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class = "text-center">Choix de la difficulté</h2>
            </div>

            <div class="modal-body">
                <div class="btn-group-vertical centeredElement center-text center-block centeredBlock float-center">
                    <button type="button" class="btn btn-info btn-difficulty" id="easy-game-btn">Facile</button>
                    <button type="button" class="btn btn-warning btn-difficulty" id="avg-game-btn">Moyen</button>
                    <button type="button" class="btn btn-danger btn-difficulty" id="hard-game-btn">Difficile</button>
                </div>
            </div>
<!--

            <div class="modal-footer" class="form-actions">
                <button type="button" class="btn btn-default" id="home">Retour</button>
                <button type="button" class="btn btn-primary" id="pre-play-btn">Commencer a jouer</button>
            </div>
-->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->