<h1><span class="mtxt">Quiz : Le codage hexadecimal</span></h1>


<div align="center">
    <table CELLSPACING="0" BORDER="1" CELLPADDING="4" WIDTH="647">
        <tr class="rowHeader"  style="background-color: #c7ddef; border: 1px solid #9acfea;">
            <td WIDTH="100%" VALIGN="TOP" class="questionHeader">
                <p ALIGN="left">
                    <b>Question <span class="questionNum">1</span></b>
                </p>
            </td>
        </tr>
        <tr class = "light-quiz" id="questionQuiz-1"  style="background-color: #c7ddef; border: 1px solid #9acfea;">
            <td WIDTH="100%" VALIGN="TOP">
                <span ALIGN="left" class="question">Convertir en décimal la valeur du code binaire 0000 1010(2) ?</span><br/>
                <span ALIGN="left" class="answer">
                </span>
            </td>
        </tr>
    </table>

    <div align="center" style="text-align: center; padding: 1px 0; width: 647px;margin: auto;" >
        <div style="border: 2px solid black; display: none;" class="messageFinal">Quiz terminé - SCORE FINAL : <span class="scoreFinal">0</span></div>
        <hr>
    </div>

    <div align="center" style="text-align: center;">
        <button type="button" class="btn btn-default" id="btn-quiz-next" >
            Suivant
        </button>
    </div>
    <div style="display: none" class="bilanQuiz" ></div>
</div>
<p>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
</p>











