
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #fafefe;">
        <div class="view row">
            <div class="col-sm-2" style="font-weight: bold;">Question <span><%= id %></span>
            </div>
            <div class="col-sm-10 col-xs-9" style="font-size: 16px;">
                <p style="margin-left : -110px!important;">
                    <%= question %>
                </p>
            </div>
        </div>
    </div>
    <div class="panel-body text-center" style="background-color: #b2fab2;">
        <div class="view row center-panel">
            <div class="col-sm-10 col-xs-9" style="font-weight: bold;"><b>Votre réponse : </b></div>
            <div class="col-sm-10 col-xs-9" style="font-size: 16px; color:#269abc;">
                <%= answer %>
            </div>
        </div>

        <div class="view row center-panel">
            <div class="col-sm-10 col-xs-9" style="font-weight: bold;"><b>Résultat : </b></div>
            <div class="col-sm-10 col-xs-9" style="font-size: 16px; color:#269abc;">
                <%= solution %>
            </div>
        </div>
    </div>
</div>

