<!--<link href="css/quiz.css" rel="stylesheet" type="text/css"/>-->

<div class = "course-navbar">
    <aside class="contentWithSidebar__sidebar  js-contentWithSidebar-slidingElement" >
        <nav class="col-nav">
            <div id="tab-courseMenu" class="col-nav__inner js-sidebar-inner">
                <div class="col-nav__block  col-nav__block--summary">
                    <div class="side-paginate">
                        <span class="side-paginate__separator"></span>
                        <h6 class="side-paginate__title">
                            Quiz
                        </h6>
                        <span class="side-paginate__separator"></span>
                    </div>

                    <div class="col-nav__block--summary-list">
                        <ol class="col-nav__chapters">
                            <li id="link-course-1">
                                <img id="link-image-course-1" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#bindecquiz">Le binaire et le décimal</a>
                            </li>
                            <li class="link-course-2">
                                <img id="link-image-course-2" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#binlogquiz"> Le binaire et la logique</a>
                            </li>
                            <li class="link-course-3">
                                <img id="link-image-course-3" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#binSumSubquiz">L'addition et la soustraction en binaire</a>
                            </li>
                            <li class="link-course-4">
                                <img id="link-image-course-4" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#binMultDivquiz">La multiplication et la division en binaire</a>
                            </li>
                            <li class="link-course-5">
                                <img id="link-image-course-5" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#hexdecquiz">L'hexadecimal et le décimal</a>
                            </li>
                            <li class="link-course-6">
                                <img id="link-image-course-6" class="home-nav-icon-link" src="../images/books_closed.png"/>
                                <a class="col-nav__chapterTitle" href="#hexbinquiz">L'hexadecimal et le binaire</a>
                            </li>
                        </ol>

                        <div class="tocExercise">
                            <ul class="tocExercise__list">
                                <li class="tocExercise__item ">
                                    <a class="nav-link" href="#bingame">
                                        <img id="link-image-course-7" class="home-nav-icon-link" src="../images/icon_binary.png"/>
                                        <span class="tocExercise__text"> S'entrainer à coder en binaire </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </aside>
</div>


<div class = 'start-quiz-container'>
        <button id="start-quiz-btn" class="btn oc-btn white-btn">
            <div class = "text-wrapper-btn">Commencer le quiz</div>
        </button>
</div>


<div class = 'main-quiz-content'>
    <div id="quizQuestion" class="container course-content course-column"></div>
</div>

</div>
<p>
    <BR>
    <BR>
    <BR>
    <BR>
    <BR>
</p>
</div>
