<div id ="bindecexo" class ="transparent-course-name"></div>

<h1><span class="mtxt">Entrainez-vous à coder en binaire !</span></h1>

<iframe class="iframeGameBinDec" src="https://games.penjee.com/binary-bonanza/game.php" width="700" height="500" frameborder="no" scrolling="no" align="middle" style="text-align: center">

</iframe>
<div>
    <p>
        Ce jeu appartient à <strong>games.penjee.com</strong>
    </p>
    <p>
        <a href="http://games.penjee.com/binary-bonanza/" target="_blank">Binary-Bonanza</a>
    </p>
</div>
<hr class="hr-course">
<div style="text-align: center;">
    <button type="button" class="btn btn-default" id="btn-bindec-back">
        <img src="images/btn-icon-back.png" class="imgIcon" />
    </button>
    <button type="button" class="btn btn-default" id="btn-home">
        <img src="images/btn-icon-home.png" class="imgIcon" />
    </button>
</div>
<div style="text-align: center;" class="rate">
    <ul class="total-rating">
        Total: &nbsp;&nbsp; <span class="avgRating"> 3.5</span>/5&nbsp;(<span class="totalRatings">20 000</span>)&nbsp;<li class="c-rating__item is-active"></li>
    </ul>
    <ul class="c-rating">Evaluer le cours: &nbsp;&nbsp;</ul>
</div>