<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="bs-description">
    <div id="description" class="panel panel-default">
        <div class="panel-body">
            <p>Vous voulez enfin pouvoir communiquer directement avec votre ordinateur et faire des déclarations
                d’amour à votre processeur ? Grâce à notre application Bitabit, vous pourrez apprendre à coder en binaire
                et en hexadécimal tout en vous amusant !</p>
            <p>Nous souhaitons avoir vos avis et surtout vos critiques à propos de notre application.</p>
        </div>
    </div>
    <div class="author">By Jules Sauvinet & NgocBich Nguyen</div>
</div>
