

<!--<div class = "home-title">--><div id= "home-title"> Bit <span class = "a-from-title"> a </span> Bit </div><!--</div>-->

<div class = "home-course-navbar">

    <aside class="home_sidebar" >

        <nav class="col-nav-home">

            <div id="tab-courseMenu" class="col-nav-home_inner">

                <div class="col-nav-home_block">

                    <div class="side-paginate ">
                        <span class="side-paginate__separator"></span>
                        <h6 class="side-paginate__title side-paginate_hometitle">
                            Bibliothèque des cours
                        </h6>
                        <span class="side-paginate__separator"></span>
                    </div>

                    <div class="col-nav-chapter-list">
                        <ul class="home-nav-links" >

                            <div id = "link-course-1" class="home_link-container">
                                <li  class="home-list-link">
                                        <img id="link-image-course-1" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?bindec">Le binaire et le décimal</a>
                                </li>
                            </div>
                            <div id = "link-course-2" class="home_link-container">
                                <li class="home-list-link">
                                        <img id="link-image-course-2" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?binlog">Le binaire et la logique</a>
                                </li>
                            </div>
                            <div id = "link-course-3" class="home_link-container">
                                <li class="home-list-link">
                                        <img id="link-image-course-3" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?binSumSub">L'addition et la soustraction en binaire</a>
                                </li>
                            </div>
                            <div id = "link-course-4" class="home_link-container">
                                <li class="home-list-link">
                                        <img id="link-image-course-4" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?binMultDiv">La multiplication et la division en binaire</a>

                                </li>
                            </div>
                            <div id = "link-course-5" class="home_link-container">
                                <li class="home-list-link">
                                        <img id="link-image-course-5" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?hexdec">L'hexadecimal et le décimal</a>
                                </li>
                            </div>
                            <div id = "link-course-6" class="home_link-container">
                                <li class="home-list-link">
                                        <img id="link-image-course-6" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?hexbin">L'hexadecimal et le binaire</a>
                                </li>
                            </div>
                        </ul>

                        <div class="home-nav-links">
                            <ul >
                                <div id = "link-course-7"  class="home_link-container">
                                    <li class="home-list-link">
                                        <img id="link-image-course-7" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" href="#showcourse?bingame">
                                            <span class="tocExercise__text"> S'entrainer à coder en binaire </span>
                                        </a>
                                    </li>
                                </div>

                                <div id = "link-course-8"  class="home_link-container">
                                    <li class="home-list-link">
                                        <img id="link-image-course-8" class="home-nav-icon-link" src="../../images/books_closed.png"/>
                                        <a class="home-nav-link" data-target="#conv" data-toggle="modal">
                                            <span class="tocExercise__text"> Traducteur </span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </nav>
        <BR>
        <BR>
    </aside>
</div>


<div class="wrapperGroupBtn homeBtns">

    <div class = "home-game-title">Jeu</div>

    <div class="wrapperBtn">
        <button id="btn-second-game" class="btn btn-default orange-btn home-btn">
            <div class = "text-home-btn">Niveau 1 : les couleurs</div>
        </button>
    </div>
    <div class="wrapperBtn">
        <button id="btn-first-game" data-toggle="modal" data-target="#gameAlert" class="btn btn-default orange-btn home-btn">
            <div class = "text-home-btn">Niveau 2 : le code Ascii</div>
        </button>
    </div>


</div>