<div id="user-informations">
    <div class="panel panel-default">
      <div id ="user-panel-infos" class="panel-heading"></div>
        <div id ="user-panel-content" class="panel-body">
            <div class = "user-list-informations">
              <ul class="user-list-group">
                <li class="list-group-item" id = "username-infos"> </li>
                <li class="list-group-item" id = "score-info"> </li>
                <li class="list-group-item" id = "coursestatus-info"> </li>
                <li class="list-group-item" id = "first-game-info"> </li>
                <li class="list-group-item" id = "color-game-info"> </li>
              </ul>
            </div>
        </div>
    </div>
</div>


